*{
    margin: 0;
    padding: 0;
}

body{
    background: #272F47;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.container h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
}

.container .kitsContainer{
    display: flex;
    margin-top: 3rem;
}

.kitsContainer #kit{
    margin-left: 1rem;
    font-family: sans-serif;
    text-align: center;
    width: 100px;
    padding: 10px;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.boom{
    width: 100px;
    height: 70px;
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('./Image/tom4.png');
}

.clap{
    width: 100px;
    height: 70px;
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('./Image/tom1.png');
}

.hihat{
    width: 100px;
    height: 70px;
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('./Image/crash.png');
}

.kick{
    width: 100px;
    height: 70px;
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('./Image/kick.png');
}

.openhat{
    width: 100px;
    height: 70px;
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('./Image/snare.png');
}

.ride{
    width: 100px;
    height: 70px;
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('./Image/crash.png');
}

.snare{
    width: 100px;
    height: 70px;
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('./Image/snare.png');
}

.tink{
    width: 100px;
    height: 70px;
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('./Image/tom3.png');
}

.tom{
    width: 100px;
    height: 70px;
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('./Image/tom1.png');
}